block==0.0.5
contourpy==1.0.6
cvxpy==1.3.0
cvxpylayers==0.1.5
cycler==0.11.0
diffcp==1.0.21
ecos==2.0.12
fonttools==4.47.0
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==1.24.1
osqp==0.6.2.post8
packaging==23.0
pandas==1.5.2
pillow==10.2.0
pybind11==2.10.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
qdldl==0.1.5.post2
qpth==0.0.15
scipy==1.10.0
scs==3.2.2
six==1.16.0
threadpoolctl==3.1.0
torch==1.13.1
typing_extensions==4.4.0
